[Unit]
Description=Gunicorn instance to serve weather
After=network.target

[Service]
User=tal
Group=www-data
WorkingDirectory=/home/tal/py_app/python/Web_app_project/weather_app/
Environment="PATH=/home/tal/py_app/python/Web_app_project/weather_app/myprojectenv/bin/"
ExecStart=/home/tal/py_app/python/Web_app_project/weather_app/myprojectenv/bin/gunicorn --workers 9 --threads=4 --bind unix:weather.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
