apiVersion: apps/v1
kind: Deployment
metadata:
  name: eks-cluster
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: weather-app

  template:
    metadata:
      labels:
        app.kubernetes.io/name: weather-app
    spec:
      containers:
        - name: weather-app
          image: zivgl66/ziv-repo:weatherapp-VERSION
          ports:
            - containerPort: 8005
